/* general */
:root{
    --primary-background :#f3f3f3;
    --secondary-background :#fdfdfd;
    --thrid-background:rgba(151, 205, 255, 0.623);
    --primary-color-h: 	#c51f5d;
}
.card-title{
    text-transform: capitalize;
}
.bg-3{
    background-color: var(--thrid-background);
}
.bi{
    font-size: 20px;

}
.input-group input,button{
    border-radius: 0!important;
}
input ,.form-control , .accordion{
    box-shadow: none!important;
}


.p-h{
    color: var(--primary-color-h)!important;
}
.p-bg{
    background-color: var(--primary-color-h)!important;
    color: white;
}

form label{
    margin-left: 5px;
}

.fa-thumbs-up:active, .fa-thumbs-down:active{
    opacity: 50%;
}
.card .accordion{
    outline:2px solid var(--primary-background) ;
}
.card .accordion-body {
    background-color: #ddd;
}

.home .heading{
    width: fit-content;
    padding:0 2rem;
    margin: 1rem;
    background-color: var(--thrid-background);
    border-radius: 10px;
}
/* body */
/* main column */
body{
    background-color: var(--primary-background);
}

.story-img{
    width: 100%;  
    /* object-fit: cover; */
}

/* leftside column */
.sidebar-block1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px 10px 0 0;
    background-color: var(--primary-background);
}
.sidebar-heading{
    margin-bottom: 20px;
    border-bottom: 1px solid var(--thrid-background);
}

.sidebar-block2 p{
    background-color: var(--thrid-background);
}

/* header */
/* navbar */
.navbar{
    background-color: var(--secondary-background );
    font-family: 'Alkatra', cursive , sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.navbar .nav-item{
    font-family: system-ui, sans-serif;
}
.navbar .navbar-brand{
    font-size: 30px;
    
}

.navbar .nav-l:hover{
    outline:1px solid var(--primary-color-h) ;
    transition: outline ease-in-out 400ms;
    background-color: #c51f5c2f;
}

.navbar-toggler{
    border: none;
}
.navbar #nav-stories:hover{
    outline:1px solid rgba(41, 41, 252, 0.842) ;
    transition: outline ease-in 400ms;
    background-color: var(--thrid-background) ;
}

.dropdown-menu{
    width: 100%;
}
.username .dropdown-item{
    margin-top: 5px;
    border-bottom: 1px solid var(--primary-color-h);
    padding-top: 12px;
}
.username #logout-btn{
    color: white;
    width: 80%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.username #logout-btn:hover{
    background-color: var(--primary-color-h) !important;
    
}
/* main  */

.stories .card{
    border: none;
    /* box-shadow: 0 0 2px; */
    background-color: var(--secondary-background );
}

.story-title{
    text-transform: capitalize;
    font-size: 2rem;
}
.story-body{
    font-size: 1.1rem;
    line-height: 3rem;
}
.story-body::first-letter{
    font-size: 4rem;
    font-style: italic;
}

.home .card .card-img {
    width: auto;
    height: 158px;
    object-fit: cover;
    object-position: center;
}

.stories .card .accordion-button{
    background-color:#e6286e1c;
    border: 1px solid #e6286e62;
    box-shadow: none !important;
}
.stories .card .accordion-button:hover ,.stories .card .accordion-button:active  {
    background-color:#e6286e62;
}
/* form style*/

.form{

    margin-top:100px;
    max-width:600px;
    margin-bottom:1rem;
}
.form .form-control ,.modal-body form .form-control{
    margin-bottom:2rem;
}
.btn-block {
    width:100%;
}
.form-div,.form-alert{
    margin-top:-4rem;
    
}
#fullwidth-add_storypage form {
    width: 95vw !important;
    margin-left: auto;
    margin-right: auto;
}


.modal #addstory_form-modal-content{
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}
.modal .modal-header-title {
    width: 100%;
}
