

{% extends "base.html" %}
<!--title-->
{% block title %}
    Addstory
{% endblock %}

{% block content%}
<div class="form container-fluid ">
    {% with messages = get_flashed_messages(with_categories=true) %}
             {% if messages %}
                {% for category, message in messages %}
                    <div class="form-alert alert alert-{{ category }} alert-dismissible fade show" role="alert">
                      <strong>Sorry!! </strong>{{message}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor%}
             {% endif%}
        {% endwith %}
    <div class="form-div">
    <h2 class="text-center fw-semibold  mb-4">Add story</h2>
        <form method="post" class="form-register border p-4 rounded shadow">
            {{ form.hidden_tag() }}

            {{ form.title.label() }}
            {{ form.title(class="form-control" , placeholder='Enter story title') }}

            {{ form.description.label() }}
            {{ form.description(class="form-control" , placeholder='Give a brief description') }}

            
            {{ form.body.label() }}
            {{ form.body(class="form-control" , placeholder='Enter story body',rows='10') }}
        


            
            {{ form.category.label() }}
            {{ form.category(class="form-select" ,id='select_category' ) }}

            {{ form.image.label() }}
            {{ form.image(class="form-control" , placeholder='image') }}

            {{form.submit(class="btn btn-block btn-lg  btn-primary",id="fullwidth-btn")}}
        </form>
    </div>
</div>
{% endblock %}
