

{% extends "base.html" %}
<!--title-->
{% block title %}
    Addstory
{% endblock %}

{% block content%}
{% for story in stories%}  

<div class="container-fluid " id="fullwidth-add_storypage">
    {% with messages = get_flashed_messages(with_categories=true) %}
             {% if messages %}
                {% for category, message in messages %}
                    <div class="form-alert alert alert-{{ category }} alert-dismissible fade show" role="alert">
                      <strong>Sorry!! </strong>{{message}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor%}
             {% endif%}
        {% endwith %}
         
    <h2 class="text-center fw-semibold  mb-4">Add story</h2>
        <form method="post" class=" border p-4 rounded shadow" enctype='multipart/form-data'>
            {{ addstory_form.hidden_tag() }}

            {{ addstory_form.title.label() }}
            {{ addstory_form.title(class="form-control " , placeholder='Enter story title') }}

            {{ addstory_form.description.label() }}
            {{ addstory_form.description(class="form-control" , placeholder='Give a brief description') }}

            
            {{ addstory_form.body.label() }}
            {{ addstory_form.body(class="form-control" , placeholder='Enter story body',rows='10') }}
        


            
            {{ addstory_form.category.label() }}
            {{ addstory_form.category(class="form-select  mb-4 " ,id='select_category' ) }}

            {{ addstory_form.image.label() }}
            {{ addstory_form.image(class="form-control" , placeholder='image') }}

            {{ addstory_form.submit(class="btn btn-block btn-lg  btn-primary mt-4",id="addstory") }}

            <input class="btn btn-block btn-lg  btn-primary" id="addstory" name="addstory" type="hidden" value="{{story.title}}"> 
        </form>
        
</div>
{% endfor %}
{% endblock %}
