{% extends "base.html" %}
<!--title-->
{% block title %}
    home page
{% endblock %}

<!--body -->
{% block content %}
        <div class="container-fluid">
            <div class="row">
                <!--Sidebar-->
                <div class="sidebar col-lg-3">sidebar</div>

                <!--Sidebar-->
                <div class="content col-lg-9">
                    <div class=" row ">


                        <div class="col-lg-4 p-3">
                            <div class="card">
                                <img src="https://via.placeholder.com/200x100?text=Story+Image" class="card-img-top" alt="Story Image">
                                <div class="card-body">
                                    <h5 class="card-title">Story title</h5>
                                    <p class="card-text">Some quick description text to build intrest on the story title and make up the bulk of the card's content.</p>
                                    <div class="col-12">
                                        <a href="#" class="btn btn-primary"><i class="fa fa-face-smile"></i> Impressions</a>
                                        <a href="#" class="btn btn-outline-secondary "><i class="fa fa-arrow-right-to-bracket"></i> Read story</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                </div>

            </div>
{% endblock %}

<!--& Footer-->


