{% extends "base.html" %}
<!--title-->
{% block title %}
    stories
{% endblock %}

{% block content %}



       <div class="container-fluid">
           {% with messages = get_flashed_messages(with_categories=true) %}
             {% if messages %}
                {% for category, message in messages %}
                <div  class="toast align-items-center text-bg-{{ category }} border-0 show mt-3" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="d-flex">
                    <div class="toast-body">
                      {{message}}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                </div>
                {% endfor%}
             {% endif%}
        {% endwith %}

           <div class="row">
            
               <div class="sidebar col-lg-3 ">

                  <div class='sidebar-block1  sticky-top'>
                     
                      <div class='sidebar-heading' >
                        <h4 class='text-primary-emphasis'>Options</h4>
                      </div>
                      
                  <!-- Button trigger modal -->
                      <div class="d-flex justify-content-between mb-3" >
                    
                        <button type="button" class="btn btn-lg btn-primary  mt-3  rounded shadow stick" data-bs-toggle="modal" data-bs-target="#add_story">
                          Add New Story
                        </button>

                        
                        <a type="button" class="btn btn-outline-secondary btn-lg mt-3 rounded shadow stick" href="{{url_for('addstory')}}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Use full screen"><i class="bi bi-box-arrow-up-right"></i></a>
                      </div>  
                        <!-- Modal -->
                      <!----> 
                   
                          <div class="input-group  ">
                            <input type="text" class="form-control" placeholder="Search story here.." aria-label="search-bar" aria-describedby="button-addon2">
                            <button class="btn btn-primary" type="button" id="button-addon2">
                              <i class="bi bi-search"></i> Search
                            </button>
                            
                          </div> 
                   </div>       

                   <div class='sidebar-block2 '>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                          <p class=" p-3">this is a paragraph </p>
                   </div>       
                        
                        
        



               </div>

               
               <div class="stories col-lg-8">
                
                 <!--
                
                   <h1 class=" mt-4 fs-4 text-decoration-underline p-h">Listings <i class="p-h bi bi-bootstrap-fill"></i></h1>
                  -->
                    
                      <h1 class="mt-3 fs-4 p-h">Listings <i class="p-h bi bi-bootstrap-fill"></i></h1>
                      
               <!--- Iterating through database to display each story-->
               {% for story in stories %}
                  {% if not story.img %}
                         
                  <div class="card  ">
                    
                    <img src= "{{ url_for('static',filename='placeholderO.png') }}" class="card-img-top story-img img-fluid" alt="Story Image">
                    {% elif  story.img %}
                    <div class="card  ">
                      <img src= "   {{ url_for( 'static',filename = story.img  ) }}" class="card-img-top story-img img-fluid" alt="Story Image">
                      {% endif %}
                                <h5 class="card-title story-title p-2 text-center">{{ story.title }}</h5>
                                <div class="card-body">
                                    

                                    <p class="card-text story-category text-capitalize">Category:  {{ story.category }}</p>

                                    

                                    <div class="accordion accordion-flush" id="accordion-{{ story.id }}">
                                      <div class="accordion-item">
                                        <h2 class="accordion-header">
                                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-{{ story.id }}" aria-expanded="false" aria-controls="flush-{{ story.id }}">
                                            <h4>Read Story</h4>
                                          </button>
                                        </h2>
                                        <div id="flush-{{ story.id }}" class="accordion-collapse collapse" data-bs-parent="#accordion-{{ story.id }}">
                                          <div class="accordion-body">
                                            <p class="card-text story-body">{{ story.body }}</p>
                                          </div>
                                        </div>
                                      </div>
                                      
                                      
                                    </div>

                                    <h3 class="card-title text-capitalize fw-lighter text-primary pt-3"><span class="text-primary fw-normal">Short Description: </span> {{ story.description }}</h3>
                                    <div class="col-12">
                                      <hr>
                                      <div class="">
                                        <div class="reaction d-flex justify-content-between">

                                        {% if current_user.is_authenticated %}
                                        <form method="POST">
                                            {{ like.hidden_tag() }}
                                            <button class=" bg-primary border-0 rounded text-white " data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="like"  value="like" >
                                              <i class="bi bi-hand-thumbs-up-fill text-white"></i>
                                              {{ like.submit(class='btn text-white')}}
                                              {{ story.likes }} </button> 
                                        </form>
                                       
                                        <div class="comments d-inline-block">
                                          <button class="btn btn-outline-secondary" >
                                            Add Comment <i class="bi bi-chat-text-fill"></i>
                                          </button>
                                        </div>
                                        
                                        <form method="POST">
                                          {{ deslike.hidden_tag() }}
                                          <button class=" bg-danger border-0 rounded text-white" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="deslike"  value="deslike" ><i class="bi bi-hand-thumbs-down-fill text-white"></i>
                                            {{ deslike.submit(class='btn text-white')}}
                                            {{ story.deslikes }} </button> 
                                        </form>  

                                        <!-- Like btn conditions-->

                                        {% elif not current_user.is_authenticated  %}
                                        
                                          
                                          <button class=" bg-primary border-0 rounded text-white " data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="like"  value="like" ><i class="bi bi-hand-thumbs-up-fill text-white"></i>
                                            {{ story.likes }} </button> 
                                      
                                     
                                      <div class="comments d-inline-block">
                                        <button class="btn btn-outline-secondary" >
                                          Add Comment <i class="bi bi-chat-text-fill"></i>
                                        </button>
                                      </div>
                                      
                                        
                                        <button class=" bg-danger border-0 rounded text-white " data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="deslike"  value="deslike" ><i class="bi bi-hand-thumbs-down-fill text-white"></i>
                                          {{ story.deslikes }} </button> 
                                      
                                        {% endif %}
                                      </div>

                                      </div>
                                    </div>
                                </div>
                               
                  </div>


             {% endfor %}
               <div class="sidebar col-lg-1">

                <!--MODAL-->
                <div class="modal fade" id="add_story" tabindex="-1" aria-labelledby="add_storyLabel" aria-hidden="true" data-bs-backdrop="static">
                  <div class="modal-dialog modal-dialog-scrollable " >
                    <div class="modal-content" id="addstory_form-modal-content">


                      <div class="modal-header">
                        <div class="">
                          <a type="button" class="btn btn-outline-secondary btn-sm rounded " href="{{url_for('addstory')}}" target="_blank" ><i class="bi bi-box-arrow-up-right"></i> Use Full Window</a>
                          <h1 class="modal-title fs-5 mt-3" id="add_storyLabel">Add New story</h1>
                        </div>  
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      
                      <div class="modal-body " >
                            <form method="post" class="p-2" enctype='multipart/form-data' >
                            {{ addstory_form.hidden_tag() }}
                
                            {{ addstory_form.title.label() }}
                            {{ addstory_form.title(class="form-control" , placeholder='Enter story title') }}
                
                            {{ addstory_form.description.label() }}
                            {{ addstory_form.description(class="form-control" , placeholder='Give a brief description') }}
                
                            
                            {{ addstory_form.body.label() }}
                            {{ addstory_form.body(class="form-control" , placeholder='Enter story body',rows='10') }}
                        
                
                
                            
                            {{ addstory_form.category.label() }}
                            {{ addstory_form.category(class="form-select mb-4" ,id='select_category' ) }}
                
                            {{ addstory_form.image.label() }}
                            {{ addstory_form.image(class="form-control" , placeholder='image') }}
                
                            {{addstory_form.submit(class="btn btn-block btn-lg  btn-primary",id="addstory")}}
              
                            <input class="btn btn-block btn-lg  btn-primary" id="addstory" name="addstory" type="hidden" value="addstory"> 
                          </form>
                          </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger text-center" data-bs-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>

               </div>

           </div>
       </div>
       
       </div>

{% endblock %}

<!--& Footer-->


